<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Artifactory - Prereleases" value="https://artifacts.funda.nl/artifactory/api/nuget/v3/prereleases" />
    <add key="Artifactory" value="https://artifacts.funda.nl/artifactory/api/nuget/v3/releases" />
  </packageSources>
</configuration>
