<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Azure Artifacts - Prereleases" value="https://pkgs.dev.azure.com/funda/_packaging/funda%40Prerelease/nuget/v3/index.json" />
    <add key="Azure Artifacts" value="https://pkgs.dev.azure.com/funda/_packaging/funda%40Release/nuget/v3/index.json" />
  </packageSources>
</configuration>
